body{
    background-image: url('../images/background.jpg');  /* source image of the background*/
    background-repeat: no-repeat;  /* no repeat for background image*/
    background-size: cover;  /* covering the whole page*/
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    border: 3px solid green; /* creating a border*/
    border-radius: 20px; /* set the edge of the border curved.*/
    background-color: cyan;
    opacity: 0.6;
    margin: 13% auto; /* */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 40vh;
    width: 40vw;

}

.side{
    padding: 5% 10%;
}


span > input {   /*all p elements inside form elements with the given class*/
    margin-top: 3vh;
}

@media screen (max-width: 768px) {

}